.demo-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh; // vh is better to use.

    .top-part {
        height: 150px;

        button.selected {
            background-color: lightgreen;
        }
    }

    .trace-chart-part {
        height: calc(100vh- 150px);
    }
}
